body {
  background-color: white;
  /* margin: 0 50px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px;
  grid-gap: 10px;
}

.grid-item {
  text-align: center;
}

#tartsweet {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 7em;
  font-weight: bold;
  letter-spacing: 25px;
  z-index: 1;
}

#cherriesPic {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 500px;
  z-index: 0;
}

#cherries {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  font-size: 3.3em;
  color: #9c0e11;
  letter-spacing: 15px;
  transform: translate(0, 300px);
}

#box {
  background-color: gray;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 0;
}
